<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Quality of This Data</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="css/theme.css" rel="stylesheet">
  </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="about">About This Data Set</a></li>
	    <li  class="active"><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Quality: About This Data Set</h1>
        <p>I think the overall quality of this data set is quite good, with only monir data missing (less than 20 weeks have less than 100 songs), and 46 songs have no performer recorded. But the format of guest appearance is not consistent.</a></p>
      </div>

    
      <div class="page-header">
	<h2>Is the data complete?</h2>
	<p>After generated a pivot table counting the number of entries for each week, I think this data is relatively complete in terms of Billboard records.
	However, the popularity chart provided by Billboard may be free of bias. 
	For example, in the very early stage of Billboard Hot 100, they aggregated data from Best Sellers in Stores, Most Played by Jockeys and Most Played in Jukeboxes, 
	and the radio station most played has been replaced by streaming date nowadays; 
	To what extent the weight of each component chart reflects the reality? Are the top 100s really the most popular 100 songs? 
	This may become the source of incompleteness. 
</p>
      </div>
      
      <div class="page-header">
	<h2>Is the data coherent?</h2>
	<p>Yes, the number of total singers who had been on the Billboard for each year is quite consitent across years.</p>
      </div>

      <div class="page-header">
	<h2>Is the data correct?</h2>
	<p>I think most of the data entries are correct. I extracted the set of performers and did a cross check with Billboard top singer list, turns out most of them are matched. </p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
  </body>
</html>
